nav {
  background: pink;
}

div.parent {
  display: grid;
  grid-template-columns: 20% 80%;
  min-height: 100vh;
  grid-gap: 20px;
}

div.child {
  background: gold;
}
.box {
  width: 100px;
  height: 100px;
  background: yellow;
  border: 5px solid green;
  padding: 15px;
  margin: 15px;
}
p {
background: red;
} 
.paragraph_2 {
  background: blue;
}
#paragraph_3 {
  background: green;
}
p:nth-child(2) strong {
  background: pink;
}
a {
   background: white; 
}